<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nuc.edu.cn.demo.mapper.CostMapper">
    <insert id="insert" parameterType="nuc.edu.cn.demo.pojo.Cost">
        INSERT INTO cost SET inhabitant_id=#{inhabitant_id},propertyfee_id=#{propertyfee_id}
    </insert>
    <delete id="delete" parameterType="nuc.edu.cn.demo.pojo.Cost">
        DELETE FROM cost WHERE inhabitant_id=#{inhabitant_id} AND propertyfee_id=#{propertyfee_id}
    </delete>
</mapper>