<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
    <script type="text/javascript">
        function a1() {
            var name = $("#name").val();
            var password = $("#password").val();
            $.ajax({
                url: "/admin/update",
                type: "post",
                data: {id: name, password: password},
                success: function (data) {
                    if (data == 1) {
                        alert("修改成功！");
                    }
                    if (data == 0) {
                        alert("修改失败！")
                    }
                }
            })
        }
    </script>
</head>
<body>
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header col-md-2">
                <a class="navbar-brand"><img alt="Brand" style="width:20px ;height: 20px" th:src="@{/image/1.jpeg}"></a>
                <a class="navbar-brand" href="#">社区首页</a>
            </div>
            <div class="">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/admin/inhabitants}">住户管理</a></li>
                    <li><a href="money.html">缴费单管理 <span class="badge">4</span></a></li>
                    <li><a href="#">业主缴费管理 <span class="badge">4</span></a></li>
                </ul>
            </div>
            <div class="">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-user"></span><span th:text="${session.attribute}">用户</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/login/exit}"><span class="glyphicon glyphicon-log-out">退出</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">我的信息</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="name" class="sr-only" th:value="${session.user.id}">
                <label>账号：</label>
                <input type="text" class="form-control" th:value="${session.user.id}" disabled>
                <label>密码：</label>
                <input type="text" id="password" class="form-control" th:value="${session.user.password}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="a1()">修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="container">
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">
            &times;
        </a>
        请及时缴费。
    </div>
    <div class="jumbotron text-center">
        <h1>欢迎登陆中北社区物业管理系统！</h1>
        <p>这是一个超大屏幕（Jumbotron）的实例。</p>
        <p><a class="btn btn-primary btn-lg" role="button">
            学习更多</a>
        </p>
    </div>
    <div style="width: 1200px;height: 300px"></div>
</div>
<div class="modal-footer">
    <footer class="text-center">Copyright © 2017-2019 毕朝冉 All Rights Reserved.</footer>
</div>
</body>
</html>