<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员界面</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
    <style>
        .table tbody tr td {
            vertical-align: middle !important;
        }
    </style>
    <script type="text/javascript">
        function a1(id) {
            var flag = confirm("确定删除该条信息？")
            if(flag==true){
                window.location.href="http://localhost:8080/inhabitant/deleteinhabitant?id="+id
            }
        }
    </script>
</head>
<body>
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header col-md-2">
                <a class="navbar-brand"><img style="width: 20px;height: 20px;" th:src="@{/image/1.jpeg}"/></a>
                <a class="navbar-brand"  th:href="@{/admin/toindex}">社区首页</a>
            </div>
            <div class="">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">住户管理</a></li>
                    <li><a th:href="@{/propertyfee/selects}">缴费单管理</a></li>
                </ul>
            </div>
            <div class="">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-user"></span><span th:text="${session.attribute}">用户</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/login/exit}"><span class="glyphicon glyphicon-log-out">退出</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">我的信息</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="name" class="sr-only" th:value="${session.user.id}">
                <label>账号：</label>
                <input type="text" class="form-control" th:value="${session.user.id}" disabled>
                <label>密码：</label>
                <input type="text" id="password" class="form-control" th:value="${session.user.password}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="a1()">修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div>
    <div class="container">
        <div class="panel panel-default" style="height: 700px">
            <!-- Default panel contents -->
            <div class="panel-heading">住户信息</div>
            <div class="panel-body">
                <div class="form-group">
                    <form class="form-inline text-center" action="/inhabitant/selectone" method="post">
                        <input type="text" placeholder="请输入查询住户的姓名" class="form-control" id="query" name="query">
                        <button type="submit" class="btn btn-primary">查询</button>
                        <a data-toggle="modal" data-target="#myModal007"><button type="button" class="btn btn-info">添加住户</button></a>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="myModal007" tabindex="-1" role="dialog" aria-labelledby="myModalLabel007" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel007">添加用户信息</h4>
                        </div>
                        <form action="/admin/insertInhabitant" method="post">
                        <div class="modal-body">
                            <label>住户姓名：</label>
                            <input type="text" class="form-control" name="name">
                            <label>住户性别：</label>
                            <input type="text" class="form-control" name="sex">
                            <label>年龄：</label>
                            <input type="text" class="form-control" name="age">
                            <label>电话：</label>
                            <input type="text" class="form-control" name="phone">
                            <label>入住时间</label>
                            <input type="date" class="form-control" name="indate">
                            <label>单元号：</label>
                            <input type="text" class="form-control" name="unit">
                            <label>门牌号：</label>
                            <input type="text" class="form-control" name="foorplate">
                            <label>备注：</label>
                            <input type="text" class="form-control" name="remark">
                            <label>住户密码：</label>
                            <input type="text" class="form-control" name="password">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">添加</button>
                        </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!-- Table -->
            <table class="table table-hover table-striped" id="table">
                <thead>
                <tr>
                    <td>#</td>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>年龄</td>
                    <td>手机号</td>
                    <td>入住时间</td>
                    <td>单元</td>
                    <td>门牌编号</td>
                    <td>备注</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="inhabitant:${inhabitants}">
                    <td th:text="${inhabitantStat.index+1}">1</td>
                    <td th:text="${inhabitant.name}">比朝冉</td>
                    <td th:text="${inhabitant.sex}">男</td>
                    <td th:text="${inhabitant.age}">21</td>
                    <td th:text="${inhabitant.phone}">15383464036</td>
                    <td th:text="${#dates.format(inhabitant.indate,'yyyy-MM-dd')}">1999-01-04</td>
                    <td th:text="${inhabitant.unit}">6</td>
                    <td th:text="${inhabitant.doorplate}">521</td>
                    <td th:text="${inhabitant.remark}">单身</td>
                    <td>
                        <a th:href="@{/admin/toupdate(id=${inhabitant.id})}">
                            <button type="button" class="btn btn-info">修改</button>
                        </a>&nbsp;
                        <button type="button" class="btn btn-danger" th:onclick="'javascript:a1('+${inhabitant.id}+');'">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a th:href="@{/admin/topage(topage=${session.nowpage-1})}" aria-label="Previous"
                       onclick="previous()">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:if="${session.pagenum >= 1}"><a th:href="@{/admin/topage?topage=1}">1</a></li>
                <li th:if="${session.pagenum >= 2}"><a th:href="@{/admin/topage?topage=2}">2</a></li>
                <li th:if="${session.pagenum >= 3}"><a th:href="@{/admin/topage?topage=3}">3</a></li>
                <li th:if="${session.pagenum >= 4}"><a th:href="@{/admin/topage?topage=4}">4</a></li>
                <li th:if="${session.pagenum >= 5}"><a th:href="@{/admin/topage?topage=5}">5</a></li>
                <li>
                    <a th:href="@{/admin/topage(topage=${session.nowpage+1})}" aria-label=" Next" onclick="next()"><span
                            aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>