<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>住户信息</title>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
    <script type="text/javascript">
        /**
         *
         * ajax查询数据
         * */
        function a1() {
            var query = $("#query").val();
            $.ajax({
                url: "/inhabitant/ajaxquery",
                type: "post",
                data: {name: query},
                success: function (data) {
                    console.log(data);
                    show_query(data);
                }
            })
        }

        /**
         * 更新表单
         * @param data
         */
        function show_query(data) {
            var count = 1;
            var value = "<table class=\"table table-hover table-striped\">\n" +
                "            <thead>\n" +
                "            <tr>\n" +
                "                <td>#</td>\n" +
                "                <td>姓名</td>\n" +
                "                <td>性别</td>\n" +
                "                <td>年龄</td>\n" +
                "                <td>手机号</td>\n" +
                "                <td>入住时间</td>\n" +
                "                <td>单元</td>\n" +
                "                <td>门牌编号</td>\n" +
                "                <td>备注</td>\n" +
                "            </tr>\n" +
                "            </thead>" + "<tbody>";
            $("#table").html("");

            for (var i = 0; i < data.length; i++, count++) {
                var date = new Date(data[i].indate)
                value = value + "<tr><th>" + count + "</th>" + "<td>" + data[i].name + "</td>" + "<td>" + data[i].sex + "</td>" + "<td>" + data[i].age + "</td>" + "<td>" + data[i].phone + "</td>" + "<td>" + date.getFullYear() + "-" + date.getMonth() + "-" + date.getDay() + "</td>" + "<td>" + data[i].unit + "</td>" + "<td>" + data[i].doorplate + "</td>" + "<td>" + data[i].remark + "</td>";
            }
            value += "</tbody>";
            $("#table").html(value);
        }
        //上一页
        function previous() {
            $.ajax({
                url:"/inhabitant/pripage",
                type:"post",
                data:{},
                success:function (data) {
                    show_query(data);
                }
            })
        }

        //第n页
        function topage(gopage) {
            $.ajax({
                url:"/inhabitant/gopage",
                type:"post",
                data:{gopage:gopage,pri:0,next:0},
                success:function (data) {
                    show_query(data);
                }
            })
        }

        //下一页
        function next() {
            $.ajax({
                url:"/inhabitant/nextpage",
                type:"post",
                data:{},
                success:function (data) {
                    show_query(data);
                }
            })
        }
    </script>
</head>
<body>
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header col-md-2">
                <a class="navbar-brand"><img style="width: 20px;height: 20px;" th:src="@{/image/1.jpeg}"/></a>
                <a class="navbar-brand" th:href="@{/inhabitant/toindex}">社区首页</a>
            </div>
            <div class="">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">住户信息</a></li>
                    <li><a th:href="@{money.html}">缴费信息 <span class="badge">4</span></a></li>
                    <li><a href="#">投诉信息 <span class="badge">4</span></a></li>
                </ul>
            </div>
            <div class="">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/inhabitant/mymsg}"><span class="glyphicon glyphicon-user"></span><span th:text="${session.attribute}">用户</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="panel panel-default" style="height: 700px">
        <!-- Default panel contents -->
        <div class="panel-heading">住户信息</div>
        <div class="panel-body">
            <div class="form-group">
                <input type="text" placeholder="请输入查询住户的姓名" class="form-control" id="query" onkeyup="a1()">
            </div>
        </div>
        <!-- Table -->
        <table class="table table-hover table-striped" id="table">
            <thead>
            <tr>
                <td>#</td>
                <td>姓名</td>
                <td>性别</td>
                <td>年龄</td>
                <td>手机号</td>
                <td>入住时间</td>
                <td>单元</td>
                <td>门牌编号</td>
                <td>备注</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inhabitant:${inhabitants}">
                <th th:text="${inhabitantStat.index+1}"></th>
                <td th:text="${inhabitant.name}"></td>
                <td th:text="${inhabitant.sex}"></td>
                <td th:text="${inhabitant.age}"></td>
                <td th:text="${inhabitant.phone}"></td>
                <td th:text="${#dates.format(inhabitant.indate,'yyyy-MM-dd')}"></td>
                <td th:text="${inhabitant.unit}"></td>
                <td th:text="${inhabitant.doorplate}"></td>
                <td th:text="${inhabitant.remark}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous" onclick="previous()">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:if="${pagenum >= 1}"><a href="#" onclick="topage(1)">1</a></li>
                <li th:if="${pagenum >= 2}"><a href="#" onclick="topage(2)">2</a></li>
                <li th:if="${pagenum >= 3}"><a href="#" onclick="topage(3)">3</a></li>
                <li th:if="${pagenum >= 4}"><a href="#" onclick="topage(4)">4</a></li>
                <li th:if="${pagenum >= 5}"><a href="#" onclick="topage(5)">5</a></li>
                <li>
                    <a href="#" aria-label="Next" onclick="next()">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="modal-footer">
    <footer class="text-center">Copyright © 2017-2019 毕朝冉 All Rights Reserved. </footer>
</div>
</body>
</html>