<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
    <script>
        function a1() {
            var id = $('#user_id').val();
            var sex = $('#sex').val();
            var name = $('#name').val();
            var age = $('#age').val();
            var phone = $('#phone').val();
            var unit = $('#unit').val();
            var doorplate = $('#doorplate').val();
            var password = $('#password').val();
            var remark = $('#remark').val();
            $.ajax({
                url: "/inhabitant/updateinhabitant",
                type: "post",
                data: {
                    id: id,
                    sex: sex,
                    name: name,
                    age: age,
                    phone: phone,
                    unit: unit,
                    doorplate: doorplate,
                    password: password,
                    remark: remark
                },
                success: function (data) {
                    console.log(data);
                    if (data == 1) {
                        alert("修改成功！");
                    } else {
                        alert("修改失败！")
                    }
                }
            })
        }
    </script>
</head>
<body>
<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header col-md-2">
                <a class="navbar-brand"><img alt="Brand" style="width:20px ;height: 20px" th:src="@{/image/1.jpeg}"></a>
                <a class="navbar-brand" href="#">社区首页</a>
            </div>
            <div class="">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/inhabitant/inhabitants}">住户信息</a></li>
                    <li><a th:href="@{/inhabitant/findById}">缴费信息 <span class="badge" th:text="${session.count}" th:if="${session.count!=null}">4</span></a></li>
                </ul>
            </div>
            <div class="">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-user"></span><span th:text="${session.attribute}">用户</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/login/exit}"><span class="glyphicon glyphicon-log-out">退出</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">我的信息</h4>
            </div>
            <div class="modal-body">
                <form action="/inhabitant/updateinhabitant" method="post">
                    <input type="text" class="sr-only" th:value="${session.user.id}" name="id" id="user_id">
                    <div>
                        <label for="name">姓名:</label>
                        <input type="text" class="form-control" id="name" th:value="${session.user.name}" name="name">
                    </div>
                    <br>
                    <div>
                        <label for="sex">性别:</label>
                        <input type="text" class="form-control" id="sex" th:value="${session.user.sex}" name="sex">
                    </div>
                    <br>
                    <div>
                        <label for="age">年龄:</label>
                        <input type="text" class="form-control" id="age" th:value="${session.user.age}" name="age">
                    </div>
                    <br>
                    <div>
                        <label for="phone">电话:</label>
                        <input type="text" class="form-control" id="phone" th:value="${session.user.phone}"
                               name="phone">
                    </div>
                    <br>
                    <div>
                        <label for="indate">入住时间:</label>
                        <input type="date" class="form-control" id="indate"
                               th:value="${#dates.format(session.user.indate,'yyyy-MM-dd')}"
                               name="indate" disabled>
                    </div>
                    <br>
                    <div>
                        <label for="unit">单元号:</label>
                        <input type="text" class="form-control" id="unit" th:value="${session.user.unit}" name="unit">
                    </div>
                    <br>
                    <div>
                        <label for="doorplate">门牌号:</label>
                        <input type="text" class="form-control" id="doorplate" th:value="${session.user.doorplate}"
                               name="doorplate">
                    </div>
                    <br>
                    <div>
                        <label for="password">密码:</label>
                        <input type="text" class="form-control" id="password" th:value="${session.user.password}"
                               name="password">
                    </div>
                    <br>
                    <div>
                        <label for="remark">备注:</label>
                        <textarea id="remark" class="form-control" th:text="${session.user.remark}"
                                  name="remark"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="a1()">修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="container">
    <div th:each="warn:${session.warn}" th:if="${session.warn!=null}">
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert">
                &times;
            </a>
            <span th:text="${warn.name + '未缴纳，请及时缴费'}">请及时缴费</span>
        </div>
    </div>
    <div class="jumbotron text-center">
        <h1>欢迎登陆中北社区物业管理系统！</h1>
        <p>这是一个超大屏幕（Jumbotron）的实例。</p>
        <p><a class="btn btn-primary btn-lg" role="button">
            学习更多</a>
        </p>
    </div>
    <div style="width: 1200px;height: 300px"></div>
</div>
<div class="modal-footer">
    <footer class="text-center">Copyright © 2017-2019 毕朝冉 All Rights Reserved.</footer>
</div>
</body>
</html>